.answers {
    background-color: #8F5BD9;
    color: #020659;
    padding:15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin:15px;
    align-items: center;
}

.answers:hover {
    background-color: #D96E30;
}

#divAnswers {
    display:flex;
    width:80%;
    justify-content: center;
    margin:0 auto;
}